<%= form_for(@device, html: { class: 'form-horizontal' }) do |f| %>
  <div class='form-group'>
    <%= f.label(:name, nil, class: 'col-lg-2 control-label') %>
    <div class='col-lg-10'>
      <%= f.text_field(:name, class: 'form-control', placeholder: 'Device Name (no spaces)') %>
    </div>
  </div>

  <div class='form-group'>
    <%= f.label(:device_type, nil, class: 'col-lg-2 control-label') %>
    <div class='col-lg-10'>
      <%= f.select(:device_type, options_for_select(%w(android ios), 'android'), {}, class: 'form-control') %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Add Device</button>
    </div>
  </div>
<% end %>